# Python bytecode files
__pycache__/
*.pyc

# Cache for transformers models
transformers_cache/

# Virtual environment folder (if you use virtualenv or venv)
.venv/

# Render specific files
render.yaml
